.title {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px 9px;
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.title:hover {
  background-color: #ccc;
}

.panel {
  padding: 10px 60px;
  background-color: white;
  overflow: hidden;
}

.panel-item {
  font-size: 15px;
  padding: 20px 0;
}

.fa-user {
  padding-right: 30px;
}

.fa-caret-down,
.fa-caret-up {
  padding: 0 8px;
}
